.filter input {
  width: 15rem;
}

table.jobs td {
  word-break: break-all;
}

table.jobs th.job-header {
  width: 30%;
}

table.jobs th.duration-header {
  width: 20%;
}

table.jobs.queues th.job-header {
  width: 30%;
}

table.jobs.failed th.job-header {
  width: 35%;
}

table.jobs.in_progress th.job-header {
  width: 50%;
}

table.jobs.blocked th.job-header {
  width: 45%;
}

table.jobs.scheduled th.job-header {
  width: 40%;
}

table.jobs.finished th.job-header {
  width: 65%;
}

table.jobs.workers th.job-header {
  width: 40%;
}
